
version: '3.8'

networks:
  backend_network:
    internal: true
    driver: bridge
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.enable_ip_masquerade: "false"

  ai_network:
    internal: true
    driver: bridge
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.enable_ip_masquerade: "false"

  public_network:
    internal: false
    driver: bridge
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"

  monitoring_network:
    internal: false
    driver: bridge

services:
  nginx:
    networks:
      - public_network

  api_gateway:
    networks:
      - public_network
      - backend_network
      - ai_network
      - monitoring_network
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE

  backend:
    networks:
      - backend_network
      - monitoring_network
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID

  celery_worker:
    networks:
      - backend_network
      - monitoring_network
    cap_drop:
      - ALL

  celery_beat:
    networks:
      - backend_network
      - monitoring_network
    cap_drop:
      - ALL

  postgres:
    networks:
      - backend_network
      - monitoring_network
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    ports: []

  postgres_ai:
    networks:
      - ai_network
      - monitoring_network
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    ports: []

  pgbouncer:
    networks:
      - backend_network
    cap_drop:
      - ALL
    ports: []

  redis:
    networks:
      - backend_network
      - monitoring_network
    cap_drop:
      - ALL
    ports: []

  elasticsearch:
    networks:
      - ai_network
      - monitoring_network
    cap_drop:
      - ALL
    ports: []

  qdrant:
    networks:
      - ai_network
      - monitoring_network
    cap_drop:
      - ALL
    ports: []

  recommendation_engine:
    networks:
      - ai_network
      - monitoring_network
    cap_drop:
      - ALL

  search_engine:
    networks:
      - ai_network
      - monitoring_network
    cap_drop:
      - ALL

  pricing_engine:
    networks:
      - ai_network
      - monitoring_network
    cap_drop:
      - ALL

  chatbot_rag:
    networks:
      - ai_network
      - monitoring_network
    cap_drop:
      - ALL

  fraud_detection:
    networks:
      - ai_network
      - monitoring_network
    cap_drop:
      - ALL

  demand_forecasting:
    networks:
      - ai_network
      - monitoring_network
    cap_drop:
      - ALL

  visual_recognition:
    networks:
      - ai_network
      - monitoring_network
    cap_drop:
      - ALL

  prometheus:
    networks:
      - monitoring_network
      - public_network
    cap_drop:
      - ALL
    read_only: true
    tmpfs:
      - /tmp

  grafana:
    networks:
      - monitoring_network
      - public_network
    cap_drop:
      - ALL
    cap_add:
      - CHOWN

  jaeger:
    networks:
      - monitoring_network
    cap_drop:
      - ALL

  alertmanager:
    networks:
      - monitoring_network
      - public_network
    cap_drop:
      - ALL
